= javascript_import_module_tag 'src/top'

.container
  .title
    Tops#top
  .user-devise
    - if user_signed_in?
      .signined-user
        = current_user.email
      .signout
        = link_to 'sign out', destroy_user_session_path
    - else
      .signup
        = link_to 'sign up', new_user_session_path 
      .signin
        = link_to 'sign in', user_session_path

  .modal-container
    %button.btn.btn-primary#example_modal_btn
      js demo modal


.modal.fade#example_modal{
    tabindex: '-1',
    aria: { labelledby: 'example_modal_label', hidden: true }
}
  .modal-dialog
    .modal-content
      .modal-header
        %h1.modal-title.fs-5#example_modal_label
          Modal title
        %button.btn-close{
            type: 'button',
            'data-bs-dismiss': 'modal',
            'aria-label': 'Close'
        }
      .modal-body
        body
      .modal-footer
        %button.btn.btn-secondary{ type: 'button', 'data-bs-dismiss': 'modal' }
          Close
        %button.btn.btn-primary{ type: 'button' }
          Save changes
